.applylink{
    text-decoration: none;
    border: 3px solid red;
    border-radius: 5px;
    padding: 6px;
    background-color: rgb(242, 88, 88);
    color: white;
    font-size: 14px;
}

.applylink:hover{
    cursor: pointer;
    color: bisque;
}

.hov:hover{
    /* border: 2px solid rgba(255, 255, 255, 0.425); */
    border-radius: 30%;
    color: white;
}